@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body {
    background-color: #1b1b1b; /* Off-white background */
    color: #ececec; /* Black text for headings and paragraphs */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Optional: sets a default font */
}

html {
    scroll-behavior: smooth;
}

/* Ensuring all headings are black */
h1, h2, h3, h4, h5, h6 {
    color: #ececec;
}

/* Ensuring all paragraphs are black */
p {
    color: #ececec;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.ul-container {
    position: relative;
    width: 100%;
    height: 100px; /* Adjust height as needed */
}
.ul-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    margin-left: 95px;
    margin-top: -250px;
    transform: rotate(5deg);
    z-index: -1; /* Moves the element behind other content */
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10%;
}

.scroll-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    color: white;
    border-radius: 25px !important; /* Ensures rounded corners */
    border: 3px solid transparent; /* Transparent border to use with border-image */
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for hover effects */
    z-index: 20;
    margin-bottom: 200px;
}
